// front/src/features/nav/hamburger.module.scss
@use '../shared/styles/mixins/mixins.scss' as mixins;

$icon-size: 2.5rem;
$line-length: 1rem;
$line-thickness: .15rem;
$line-radius: .15rem;


.hamburgerMenu {
  position: relative; /* контейнер для кнопки */
}

/* Базовый стиль кнопки (без позиции) */
.hamburgerIcon {
  z-index: 1001;
  width: $icon-size;   /* больше размер */
  height: $icon-size;  /* больше размер */
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  -webkit-tap-highlight-color: transparent;

  .line {
    gap: 5px;
    position: absolute;
    left: 50%;
    width: $line-length;     /* длиннее */
    height: $line-thickness;     /* толще (пожирнее) */
    background: #fff; /* белый цвет линий */
    border-radius: $line-radius;
    transform-origin: center;
    transition:
      transform 0.25s ease,
      opacity 0.2s ease,
      top 0.25s ease,
      background-color 0.2s ease;
  }

  /* Располагаем линии относительно увеличенной кнопки */
  .line:nth-child(1) { top: 22px; transform: translateX(-50%); }
  .line:nth-child(2) { top: 28px; transform: translateX(-50%); }
  .line:nth-child(3) { top: 34px; transform: translateX(-50%); }

  @media (prefers-reduced-motion: reduce) {
    .line {
      transition: none;
    }
  }
}

/* Когда меню закрыто — кнопка внутри header (правый нижний угол) */
.iconInHeader {
  position: absolute;
  right: 12px;
  bottom: 12px;
}

/* Когда меню открыто — фиксируем кнопку в правом верхнем углу окна */
.iconFixedOpen {
  position: fixed;
  top: 12px;
  right: 12px;
}

/* Состояние открыто — превращаем в крестик */
.openIcon {
  .line:nth-child(1) {
    top: 28px;
    transform: translateX(-50%) rotate(45deg);
  }
  .line:nth-child(2) {
    opacity: 0;
    transform: translateX(-50%) scaleX(0.2);
  }
  .line:nth-child(3) {
    top: 28px;
    transform: translateX(-50%) rotate(-45deg);
  }
}

.menuContent {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  border-left: 1px solid #e5e5e5;
  overflow: hidden;
  transition: width 0.3s ease, background-color 0.2s ease;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: stretch;
  padding-top: 64px;

  a {
    padding: .75rem 1rem;
    text-decoration: none;
    color: #222;
    transition: color 0.2s ease, transform 0.2s ease;

    &:hover {
      transform: translateX(.7rem);
    }
  }
}

.open {
  width: 16.25rem;
  background: mixins.$main-bg;

  a {
    color: #fff;
  }
}

.activeLink {
  font-weight: 700;
  text-decoration: underline;
}
